<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Captain Hook</title>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="wrapper">

    <div id="main">
      <img src="images/hook.jpg" alt="Disney's Captain Hook" />
      <h1>ARRRGH!</h1>
      <h3>This app be waitin for me GitHub post-receive hook!</h3>
    </div>

    <div id="footer">
      <p>By <a href="http://mattonrails.com/" title="Matthew Conway">Matthew Conway</a>. 
        <a href="http://sinatrarb.com/">Sinatra</a> app hosted on <a href="http://heroku.com/">Heroku</a>. 
        Font by <a href="http://code.google.com/webfonts/designer?designer=Igino+Marini">Igino Marini</a>.</p>
    </div>

  </div>

  <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
</body>
</html>
