!!!HTML

%head
  %title Captain Hook
  %link{href:'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC',rel:'stylesheet',type:'text/css'}
  %link{href:"css/style.css",rel:'stylesheet',type:'text/css'}

%body
  #wrapper
    #main
      %img{src:"images/hook.jpg",alt:"Disney's Captain Hook"}
      %h1 Arrr
      %h3 This app be waitin for ye Heroku HTTP Post Hook!

      #footer
        %p
          By
          %a{href:"http://mattonrails.com",title:"Matthew Conway"} Matthew Conway
        %p
          Updated and adapted for Heroku by
          %a{href:"http://stringbot.com",title:"Joshua Davison"} Joshua Davison
        %p
          Font by
          %a{href:"http://code.google.com/webfonts/designer?designer=Igino+Marini"}
          Igino Marini.


  %a{href:"http://github.com/you"}
    %img{style:"position: absolute; top: 0; right: 0; border: 0;",src:"http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",alt:"Fork me on GitHub"}
