/* General */
* { margin: 0; padding: 0;}
body { background-color: #800000; }
#wrapper {
	width: 500px;
	margin: 20px auto;
	text-align:center;
}

/* Main */
#main {
	padding: 15px 10px;
	background-color: #FC6;
	border: 5px solid #963;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#main h1, h3 {
	font-family: 'IM Fell DW Pica SC', arial, serif;
	text-align: center;
}

/* Footer */
#footer {
	margin-top: 10px;
	font: 14px "Palatino Linotype", Palatino, Palladio, "URW Palladio L", 
	"Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", 
	"Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", 
	"New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", 
	Georgia, serif;
	text-align: center;
}
#footer p {
	/*color: #FC6;*/
}
#footer a {
	color: #963;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
